DB_HOST=ep-tu-host-pooler.sa-east-1.aws.neon.tech
DB_PORT=5432
DB_NAME=neondb
DB_USER=neondb_owner
DB_PASSWORD=CAMBIA_ESTA_CLAVE
DB_SSLMODE=require
APP_URL=http://localhost:8080
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=