DB_HOST=ep-tu-host-pooler.sa-east-1.aws.neon.tech
DB_PORT=5432
DB_NAME=neondb
DB_USER=neondb_owner
DB_PASSWORD=CAMBIA_ESTA_CLAVE
DB_SSLMODE=require
APP_URL=http://localhost:8080
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=
RECAPTCHA_EXPECTED_HOSTNAME=localhost
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=correo-del-proyecto@gmail.com
MAIL_PASSWORD=CONTRASENA_DE_APLICACION_DE_16_CARACTERES
MAIL_FROM=correo-del-proyecto@gmail.com
MAIL_FROM_NAME=Dinastía AMV
